:root {
    --background: rgb(0, 0, 0);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;

    background-color: black;
    border: 1px solid rgb(0, 255, 0);
    border
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    color: rgb(0, 255, 0);
}

.postbox-style {
    display: flex;
    text-align: center;
    width: 600px;
}

button {
    background-color: black;
    color: rgb(0, 255, 0);
    font-size: 12px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid rgb(0, 255, 0);
}
