:root {
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url('/assets/vaporwave.jpg');
    background-size: cover;
}

header {
    position: absolute;
    bottom: 0;
    padding: 15px;
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(199, 199, 199);
    border-top: 3px solid rgb(222, 222, 222);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    color: aliceblue;
}

.postbox-style {
    display: flex;
    flex-direction: column;
    width: 60px;
    color: aliceblue;
    font-size: 10px;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}

.icon {
    width: 40px;
}

button {
    background: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 10px;
    padding: 4px;
    border-top: 2px solid rgb(222, 222, 222);
    border-right: 2px solid rgb(170, 170, 170);
    border-left: 2px solid rgb(190, 190, 190);
    border-bottom: 2px solid rgb(150, 150, 150);
}
